.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@font-face {
  font-family: 'Runescape';
  src: url('../../assets/fonts/runescape_uf.woff') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Runescape-small';
  src: url('../../assets/fonts/runescape_small.woff') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Runescape-chat';
  src: url('../../assets/fonts/RuneScape-Chat-07.ttf') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

/* Ensure the whole chat area uses the available screen space */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Runescape-chat', sans-serif;
  color: #0000FF;
  font-size: 10vh;
  /*background-color: #3E3529;*/
}

p {
  margin: 0;
}

.system-text {
  color: #000000;
}

/* Chat container takes the full screen height */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

#chat-box {
  background-image: url("../../assets/Chat_Interface_cropped_border-middle.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

/* Chat messages section will grow and be scrollable */
.chat-messages {
  flex-grow: 1;
  overflow-y: auto; /* Makes this section scrollable */
  box-sizing: border-box;
  padding-left: 64px;
  padding-right: 160px;
}

/* Fixed chat input at the bottom */
.chat-top {
  display: flex;
  background-image: url("../../assets/Chat_Interface_cropped_border-top.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 1vh;
}

/* Fixed chat input at the bottom */
.chat-input-container {
  display: flex;
  background-image: url("../../assets/Chat_Interface_cropped_border-bottom.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 4vh;
}

.chat-message {
  margin: 10px;
  overflow-wrap: break-word;
  display: flex;
  white-space: pre-wrap;
  box-sizing: border-box;
}

#input-message {
  margin: 10px;
  overflow-wrap: break-word;
  display: flex;
  white-space: pre-wrap;
  box-sizing: border-box;
}
