@font-face {
    font-family: 'Runescape';
    src: url('./assets/fonts/runescape_uf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Runescape-small';
    src: url('./assets/fonts/runescape_small.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    font-family: 'Runescape', sans-serif;
    color: #ffff00;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #3E3529;
    text-align: center;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container {
    padding: 1.4vh;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#level-text-1 {
    font-family: 'Runescape-small', sans-serif;
    color: #ffff00;
    text-shadow: 1.9vh 1.9vh 1px rgba(0, 0, 0, 1);
    font-size: 30vh;
    position: absolute;
    top: 26vh;
    left: 101vh;
}

#level-text-2 {
    font-family: 'Runescape-small', sans-serif;
    color: #ffff00;
    text-shadow: 1.9vh 1.9vh 1px rgba(0, 0, 0, 1);
    font-size: 30vh;
    position: absolute;
    bottom: 28vh;
    right: 50vh;
}

.title {
    font-family: 'Runescape', sans-serif;
    font-size: 9vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin: 2.1vh;
    margin-bottom: 6.3vh;
}

#main-image {
    width: auto;
    height: 60vh;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

#xp-bar {
    width: 100%;
    background-color: #8A3838;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
}

#xp-fill {
    height: 100%;
    background-color: #258939;
    width: 0%;
    transition: width 0.5s;
}

#xp-display {
    font-family: 'Runescape', sans-serif;
    color: #FFFF00;
    font-size: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding: 20px;
}

button {
    font-family: 'Runescape', sans-serif;
    margin: 10px;
    margin-top: 200px;
    padding: 10px 20px;
    font-size: 4vh;
    cursor: pointer;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}
