.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@font-face {
  font-family: 'Runescape';
  src: url('../../assets/fonts/runescape_uf.woff') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Runescape-small';
  src: url('../../assets/fonts/runescape_small.woff') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Runescape-chat';
  src: url('../../assets/fonts/RuneScape-Chat-07.ttf') format('woff');
  /*font-weight: normal;
  font-style: normal;*/
}

/* Ensure the whole chat area uses the available screen space */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Runescape-chat', sans-serif;
  color: #0000FF;
  font-size: 3vh;
  /*background-color: #3E3529;*/
}

.system-text {
  color: #000000;
  display: flex;
  align-items: center;
}

.chat-badge {
  width: 1.5vh;
  height: 1.5vh;
  margin-right: 10px;
  display: inline-block;
}

.username {
  display: inline-block;
}

/* Chat container takes the full screen height */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

/* Chat messages section will grow and be scrollable */
.chat-messages {
  flex-grow: 1;
  overflow-y: auto; /* Makes this section scrollable */
  padding: 10px;
  box-sizing: border-box;
}

/* Fixed chat input at the bottom */
.chat-input-container {
  position: fixed;
  bottom: 0; 
  left: 0; 
  right: 0;
  display: flex;
  padding: 10px;
  background-color: #e0e0e0;
}

.chat-message {
  margin: 0px;
  padding:1px;
  overflow-wrap: break-word;
  display: flex;
  white-space: pre-wrap;
  box-sizing: border-box;
}

#chat-box {
  background-image: url("../../assets/Chat-Texture.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#message-input {
  flex-grow: 1; /* Makes the input take as much space as possible */
  padding: 5px;
}

#send-button {
  margin-left: 10px;
  padding: 5px 10px;
}

.red {
  color: #FF0000;
}

.yellow {
  color: #FFFF00;
}

.purple {
  color: #FF00FF;
}

.cyan {
  color: #00FFFF;
}

.white {
  color: #FFFFFF;
}

.green {
  color: #00FF00;
}

@keyframes flash1 {
  0%{
    color: #FF0000;
  }
  50%{
    color: #ff0;
  }
}

@keyframes flash2 {
  0%{
    color: #0000FF;
  }
  50%{
    color: #00FFFF;
  }
}

@keyframes flash3 {
  0%{
    color: #00B000;
  }
  50%{
    color: #80FF80;
  }
}

@for $i from 1 through 3 {
  .flash#{$i} {
  animation: flash#{$i} 0.45s steps(1, end) infinite;
  }
}

@keyframes glow1 {
  0%{
    color: #FF0000;
  } 33%{
    color: #00B000;
  } 66% {
    color: #0000FF;
  } 100% {
    color: #FF0000;
  }
}

@keyframes glow2 {
  0%{
    color: #FF0000;
  } 33%{
    color: #800080;
  } 66% {
    color: #0000FF;
  } 100% {
    color: #FF0000;
  }
}

@keyframes glow3 {
  0%{
    color: #FFFFFF;
  } 25%{
    color: #00B000;
  } 50% {
    color: #FFFFFF;
  } 67.5%{
    color: #00FFFF;
  } 75% {
    color: #0000FF;
  } 100% {
    color: #FFFFFF;
  }
}

@for $i from 1 through 3 {
  .glow#{$i} {
  animation: glow#{$i} 3s linear infinite;
  }
}

$length: 50;

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@mixin wave($length) {
  @for $i from 1 through $length {
    .char#{$i} {
      display: inline-block;
      animation: wave 0.66s linear infinite;
      animation-delay: #{$i * -50}ms; // Corrected the delay interpolation
    }
  }
}

.wave {
  @include wave($length);
}

@keyframes scroll {
  0% {
    text-indent: 500px;
  }
  100% {
    text-indent: -20em;
  }
}

.scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 8s infinite linear;
  overflow: hidden;
}

@keyframes slide {
  0%{
    top: -1.5em;
  }
  10%,
  90%{
    top: 0;
  }
  100% {
    top: 1.5em;
  }
}

.slide {
  animation: slide 3s linear;
  position:relative;
  top: 0em;
}

.message {
  overflow-wrap: break-word;
}
